<suite name="Automation Suite">
	<test name="Edge Test">
		<parameter name="browser" value="edge" />


		<listeners>
			<listener class-name="retry.RetryAnnotationTransformer" />
		</listeners>

		<groups>
			<run>
				<include name="Regression" />
			</run>
		</groups>

		<classes>
			<class name="tests.LaunchTest" />
		</classes>

	</test>

	<test name="Chrome Test">
		<parameter name="browser" value="chrome" />

		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>

		<classes>
			<class name="tests.LaunchTest" />
		</classes>

	</test>

</suite>